Cython==0.29.21
easydict==1.9
json-tricks==3.15.2
matplotlib==3.2.2
opencv-contrib-python==4.2.0.34
pandas==1.0.5
PyYAML==5.3.1
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.5.0
tensorboard==2.4.1
tensorboardX==2.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.47.0
yacs==0.1.8